
# REQUIRED VARIABLES
# APP CONFIGURATION

# The domain where the application will be hosted. Also used for email sender.
APP_DOMAIN='tstark.dev-ai.9lenses.com' 

# Used to identify the stage (e.g., staging, prod). In development, your name or initials is used.
SST_STAGE='tstark' 

# AWS
AWS_REGION='us-east-2'

# For Local Development Only. Use a deployment role in deployed environments.
AWS_PROFILE='9lenses-tstark-dev' 


# OPTIONAL VARIABLES (Defaults are provided - don't need to set unless you want to override)
# RDS AURORA CONFIGURATION ----------------------
# These values control the scaling of the RDS instance for the application database.
# Adjust these values based on your expected load and performance requirements.

# Number of read replicas for the RDS instance (default is 0)
APP_RDS_REPLICA_COUNT=0

# Minimum / Maximum ACUs for Aurora Cluster (default is 0.5 and 0 for dev to enable auto pause)
APP_RDS_SCALING_MIN=0.5
APP_RDS_SCALING_MAX=1

# ECS SCALING --------------------------------------
# These values control the minimum and maximum number of ECS tasks for the application service.
# Adjust these values based on your expected load and performance requirements.

# Minimum number of ECS tasks to run (default is 1)
APP_ECS_SCALING_MIN=1
APP_ECS_SCALING_MAX=2

# KNOWLEDGEBASE CONFIGURATION -------------------
# These values configure the knowledgebase integration for the application.
# Embedding Model
APP_KNOWLEDGEBASE_EMBEDDING_MODEL_ID='amazon.titan-embed-text-v2:0'

# SENTRY LOGGING ------------------------------------------
# These values control the logging configuration for the application.
# Adjust these values based on your logging and monitoring requirements.
SENTRY_DSN='https://....ingest.us.sentry.io/...'
SENTRY_AUTH_TOKEN='...'
SENTRY_ENVIRONMENT='production'